/*------------------------------------------------------------------
    Version: 1.0
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
    [Table of contents]

    1. DEFAULT VERSION (Check style.css and colors.css)
    2. HOSTING VERSION
    3. SEO VERSION
    4. WATCH VERSION
    5. APP VERSION
    6. CLINIC VERSION
    7. REAL ESTATE VERSION
    8. POLITICS VERSION
    9. BARBER VERSION
    10. BUILDING VERSION

-------------------------------------------------------------------*/


/*------------------------------------------------------------------
    1. HOSTING VERSION
-------------------------------------------------------------------*/

body.host_version .icon_wrap i,
body.host_version .customwidget li i,
body.host_version .navbar-nav span {
    color: pink !important; /*2d3032    -morado*/
}

body.host_version .lead strong,
body.host_version .icon-wrapper:hover a,
body.host_version a:hover,
body.host_version a:focus {
    color: #8A0886 ;/*#0071b9*/
}

body.host_version .btn-light {
    background-color: #FFBF00 ; /* FONDOO  boton INICIO SESION AMARILLO POLLITO*/
    color: #173B0B  !important; /*boton inisio sesion VERDE ODCURO   173B0B*/
    font-weight: 900; /*relleno de letra*/
}

body.host_version .stat-wrap h3 {
    color: blue !important;

}


/**************************************
GRADIENTS 
**************************************/

body.host_version .icon_wrap:hover,
body.host_version .nav-pills > li.active > a,
body.host_version .nav-pills > li.active > a:focus,
body.host_version .nav-pills > li.active > a:hover,
body.host_version .icon-wrapper:hover i,
body.host_version .grd1 {
    color: #ffffff !important; /*BOTON INISIO SESION PARA REGISTRAR*/
    background: #FFBF00 ;  /* CUADRITOS DE NOSOTROS E INICIO DE SESSION #2d3032; */
}

body.host_version .stat-wrap,
body.host_version .dmtop:hover,
body.host_version .cac:hover,
body.host_version .features-right li:hover i,
body.host_version .features-left li:hover i,
body.host_version .nav-pills > li:hover > a,
body.host_version .nav-pills > li:focus > a,
body.host_version .nav-pills > li.active > a,
body.host_version .nav-pills > li.active > a:focus,
body.host_version .nav-pills > li.active > a:hover,
body.host_version .divider-bar,
body.host_version .owl-next:hover i,
body.host_version .owl-prev:hover i,
body.host_version .icon-wrapper:hover i:hover,
body.host_version .grd1:hover,
body.host_version .grd1:focus {
    background-position: 100px;
    color: #ffffff !important; /*00aeef   LOS CUADRITOS DE NOSOTROS ICONOOO EN HOVER  */
    background: #FFBF00    ;/*00aeef   LOS CUADRITOS DE NOSOTROS adentro cuadro  amarillo pollito Y PROMO PROMO  PROMO   PROMOO DF01A5*/
}

body.host_version .checkdomain {
    background-color: pink;
    padding: 30px;
    text-align: left;
}

body.host_version .checkdomain {
    margin-top: 40px;
    display: block;
    position: relative;
}

body.host_version .checkdomain-wrapper .form-group {
    background: pink none repeat scroll 0 0;
    padding: 10px;
    border: 1px solid pink; /*GRIS*/
    width: 100%;
}

body.host_version .checkdomain hr {
    border-color: rgba(255, 255, 255, 0);
    margin: 10px 0;
}

body.host_version .checkdomain-wrapper .form-control {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid pink; /*GRIS*/
    box-shadow: none !important;
    border-radius: 0;
    width: 84%;
    height: 50px;
}

body.host_version .checkdomain-wrapper .btn {
    height: 50px;
    width: 15%;
}

body.host_version .checkdomain {
    background-color: pink;
    padding: 30px;
    position: relative;
    display: inline-table;
    margin-top: 50px;
    width: 100%;
}

body.host_version .icon-wrapper {
    text-align: left;
}

body.host_version .checkdomain-wrapper .checkbox {
    display: inline-block;
    margin-right: 15px;
    padding-left: 5px;
    text-align: left;
}

body.host_version .dev-list .widget p {
    margin: 0;
    padding: 5px 0 0;
}

body.host_version .dev-list img {
    width: 100%;
}

body.host_version .footer-social .btn {
    background-color: white;
    border: 1px solid pink !important;
    color: green;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    margin: 0 3px;
    padding: 0;
    text-align: center;
    width: 40px;
}

body.host_version .dev-list .widget {
    padding: 30px;
    border: 1px solid pink;
	box-shadow: 0 0 8px 0 rgba(0,0,0,.08);
}

body.host_version .dev-list .widget h3 {
    font-size: 21px;
    padding: 0 0 5px;
    margin: 0;
    line-height: 1 !important;
}

body.host_version .dev-list .widget-title {
    padding: 20px 0 10px;
    margin: 0;
    line-height: 1 !important;
}

body.host_version .big-tagline img {
    margin-bottom: 20px;
    max-width: 186px;
}

body.host_version .navbar-default .btn-light {
    border-color: #efefef !important;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}

body.host_version .affix {
    background-color: red !important;
}
/* MENU MENU   MENU       MENU         MENU          MENU     MENU    MENUMENU MENU     MENU  MENU     MENU   MENU      MENU          MENU       MENU*/
body.host_version .icon_wrap,
body.host_version .header_style_01 {
    background: #FFBF00  !important; /*AMARILLO OSCURO*/
    position: relative;
}

body.host_version .effect-1:after {
    box-shadow: 0 0 0 2px #FFBF00; /*EL RECUEDRO DE LOS CUADRIOS DE NOSOTROS*/
}

body.host_version .first-section .effect-1:after,
body.host_version .stat-wrap .effect-1:after {
    box-shadow: 0 0 0 2px #fff;
}

body.host_version .header_style_01 .navbar-default .navbar-nav > li > a {
    color: #173B0B; /*letra de     MENU           MENU         MENU    MENNU */
    font-weight: 900;
}

body.host_version .noover p {
    color: rgba(255, 255, 255, 1) !important;
}

body.host_version .noover .grd1 {
    border: 0 !important;
}

body.host_version .stat-wrap p {
    color: #ffffff;
    font-size: 38px;
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
    padding: 13px 0 0;
}

body.host_version .icon_wrap {
    font-size: 62px;
}

body.host_version .first-section {
    display: block;
    overflow: visible !important;
    padding: 14em 0 14em 0 !important;
    position: relative;
}

body.host_version .first-section h2 {
    padding-bottom: 15px;
}

body.host_version .first-section .lead {
    padding-bottom: 35px;
}

body.host_version .stat-wrap {    
    border-radius: 0px;
    display: block;
    bottom: 0px !important;
    margin-top: 1em;
    padding: 2em 1.5em;
    position: relative;
    z-index: 10;
}

body.host_version .stat-wrap .alignleft {
    margin-right: 30px;
}


